// main: style.scss

// Room Banner
#room-banner {
  position: absolute;
  width: 33%;
  top: 0;
  left: 0;
  padding: 5px 30px 5px 30px;
  font-size: 35px;
  color: $orange;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: $gray;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    margin: -7px 0px -1.5px 0px;
    border-top: 30px solid transparent;
    border-right: 30px solid white;
    border-bottom: 30px solid transparent;
    outline: 1px solid transparent;
  }
}

#room-banner-image {
  height: 30px;
  top: 0;
  left: 0;
  margin-right: 20px;
}

// Leaderboard

#leaderboard-container {
  height: 40%;
  padding: 1em;
  padding-top: .25em;
  border: 5px solid $gray;
  border-bottom: none;
  overflow: auto;
}

#leaderboard-table {
  width: 100%;
  color: $dark-gray;
  border-collapse: collapse;
  .p-icon {
    height: 20px;
    padding-top: .3em;
  }
  td, th {
    padding: .3em;
  }
  th {
    border-bottom: 1px solid $gray;
  }
  th:last-child, tr td:last-child  {
    border-left: 1px solid $gray;
  }
}

.user-icon {
  width: 25px;
}

.player-name {
  max-width: 175px;
  text-align: left;
  overflow: ellipsis;
  float: left;
  left: 0;
}

.player-score {
  width: 100px;
  text-align: center;
}

// Start Button

#start-game-button {
  position: relative;
  width: 150px;
  font-size: 25px;
  top: 50%;
  left: 50%;
  background-color: $orange;
  border: 2px solid $gray;
  color: white;
  padding: 2rem;
  border-radius: 1rem;

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;

  transform: scale(1) translate(-50%,-50%);
  -webkit-transform: scale(1) translate(-50%,-50%);


  &:hover {
    background-color: ($orange + 20);
  }

  &:active {
    background-color: ($orange - 20);
  }

  &:disabled {
    background-color: $dark-gray;
  }
}

// Timer

#timer {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: left;
  margin-right: 1em;
  font-size: 30px;
  color: black;
  font-family: Inconsolata, monospace;
  font-weight: 200;
}

// Game board

#game-wrap {
  width: 100%;
  height: 100%;
}

#board-wrap {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#output-container {
  font-size: 40px;
  width: 8.8em;
  margin-top: 20px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

#game-board {
  font-size: 25px;
  width: 300px;
  height: 300px;
  display: inline-block;
  box-sizing: border-box;
}

#output {
  padding: 0 .2em 0 .3em;
  letter-spacing: .1em;
}

#output, .letter {
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.5em;
  opacity: 1;
  background: linear-gradient(to bottom right, #AAA, rgba(255,0,0,0));
  position: relative;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  border-radius: .2em;
  border: solid 2px #666;
  box-sizing: border-box;
}

.letter {
  width: 24%;
  height: 24%;
  margin-right: 2px;
  margin-top: 2px;
}

#output, .active {
  background: linear-gradient(to bottom right, $orange, rgba(255,0,0,0));
}

#clear-all {
  position: relative;
  width: 150px;
  font-size: 20px;
  background-color: $orange;
  border: 2px solid $gray;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 1rem;
  margin-top: 20px;

  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;

  transform: scale(1);
  -webkit-transform: scale(1);

  transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

  &:hover {
    background-color: ($orange + 20);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  &:active {
    tranform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

// My words list

#word-list {
  position: absolute;
  width: 100%;
  height: 170px;
  bottom: 0;
  margin: auto;
  background-color: #f7f7f7;
  border: 5px solid $gray;
  border-right: 0;
  padding: 14px;
}

#word-list-title {
  margin-top: -10px;
  padding-bottom: 10px;
  font-style: italic;
}

#word-list-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

#end-word-lists-container {
  top: 150px;
  position: relative;
  min-height: 70%;
  text-align: center;
}

.end-word-list {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background-color: white;
  border: 2px solid #afafaf;
  border-radius: 0.5rem;
  font-size: 20px;
  color: #afafaf;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  margin-right: 3px;
  margin-top: 3px;
  min-width: 50%;
}

.word-list-word {
  position: relative;
  bottom: 0;
  float: left;
  margin: auto;
  background-color: white;
  border: 2px solid $dark-gray;
  border-radius: 0.5rem;
  font-size: 20px;
  color: $dark-gray;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  margin-right: 3px;
  margin-top: 3px;
}
