// main: style.scss

// Main Colors
$orange: #f48221;
$gray: #e6e6e6;
$dark-gray: #afafaf;

// Chat Colors
$chat-compose-background: $gray;
$chat-button-background: #3a84f0;
$chat-container-border: $gray;
$chat-me-background: #3a84f0;
$chat-you-background: #e6e5eb;

// Error Colors
$error-background: #ffc9c9;
$error-border: #ff8c8c;

// Font Styles
$chat-font-size: 14px;
