// Font Import
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

// Import Miscellaneous
@import 'utlities';
@import 'animations';

// Import Modules
@import 'game';
@import 'chat';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #f7f7f7;
  overflow: hidden;
}

#loginPage {
  text-align: center;
}

#loginFormContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  #logo {
    height: auto;
    width: 30%;
  }

  input[type=text],
  input[type=password] {
    width: 300px;
    border: 1px solid lightGray;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:focus {
      border: 1px solid darkGray;
    }
  }

  input[type=text],
  input[type=password],
  input[type=submit] {
    padding: 10px;
    margin-top: 5px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
  }
}

.error {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;

  & .error-label {
    background-color: $error-background;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid $error-border;
  }
}

#main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#game {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

#sidebar {
  position: relative;
  float: right;
  width: 300px;
  height: 100%;
  z-index: 200;
}
