<!DOCTYPE html>
<html>
  <head>
    <title>Boggle Web: {{ room }}</title>
      {% include 'head.html' %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
  </head>
    <body>
      <div id="main-container">
        <div id="sidebar">
          <div id="leaderboard-container">
            <table id="leaderboard-table"></table>
          </div>
          <div id="chat">
            <div id="chat-messages-container">
              <ul id="chat-messages-list"></ul>
            </div>
            <form id="chat-form">
              <input id="chat-input" autocomplete="off" placeholder="Message" /><button id="chat-button">Send</button>
            </form>
          </div>
        </div>
        <div id="game">
        </div>
      </div>
    </body>
</html>
