<!DOCTYPE html>
<html>
    <head>
        <title>Woggle</title>
        {% include 'head.html' %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body id="loginPage">
      <div id="loginFormContainer">
        <h1><img id="logo" src="{{ url_for('static', filename='img/woggle.png') }}"></h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for error in form.name.errors %}<div class="error"><span class="error-label">{{ error }}</span></div>{% endfor %} {{ form.name(placeholder='Name', autocomplete='false') }}<br>
            {% for error in form.room.errors %}<div class="error"><span class="error-label">{{ error }}</span></div>{% endfor %} {{ form.room(placeholder='Room', autocomplete='false') }}<br>
            {% for error in form.password.errors %}<div class="error"><span class="error-label">{{ error }}</span></div>{% endfor %} {{ form.password(placeholder='Password', autocomplete='false') }}<br>
            {{ form.submit() }}
        </form>
      </div>
    </body>
</html>
